
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    width: 90%;
    gap: 10%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

.welcome{
    width: 50%;
    text-align: justify;
    line-height: 1.8;
}

.welcome h1,h2{
    font-size: 2rem;
    letter-spacing: 1.2px;
}

.welcome p{
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

section img{
    width: 100%;
}

.photo{
    width: 40%;
}

.green{
    color: #03A054;
}

.link-btn{
    text-decoration: none;
    background-image: linear-gradient(#42B67E,#02783F);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.link-btn:hover{
    color: brown;
}

