body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    width: 90%;
    gap: auto;
    margin: 5% auto;
    position: relative;
}

.welcome{
    width: 50%;
    text-align: justify;
    line-height: 1.8;
}

.welcome h1,h2,h3{
    font-size: 2rem;
    letter-spacing: 1.2px;
}

.welcome p{
    font-size: 18px;
}

section img{
    width: 100%;
}

.photo{
    width: 40%;
}

.green{
    color: #03A054;
}

.meme{
    position: absolute;
    top: 60%;
    right: 2%;
}

.meme img{
    height: 200px;
}

.link-btn{
    text-decoration: none;
    /* background-color: #03A054; */
    background-image: linear-gradient(#42B67E,#02783F);
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
}