
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/header.png);
    background-repeat: no-repeat;
    background-position:90% -4%;
}

section{
    display: flex;
    width: 90%;
    gap: 30px;
    margin-top: 6%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-image: url(images/poster.png);
    background-size: 100px 90px;
    background-repeat: no-repeat;
    background-position: 95% 8%;
    /* height: 100%; */
}

.welcome{
    width: 50%;
    text-align: justify;
    line-height: 1.8;
}

.welcome h1,h2{
    font-size: 2rem;
    letter-spacing: 1.2px;
}

.welcome p{
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

section img{
    width: 100%;
}

.photo{
    width: 40%;
}

.green{
    color: #03A054;
}

/* .meme{
    position: absolute;
    top: 60%;
    right: 2%;
} */

/* .meme img{
    height: 200px;
} */

.link-btn{
    text-decoration: none;
    /* background-color: #03A054; */
    background-image: linear-gradient(#42B67E,#02783F);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.link-btn:hover{
    color: brown;
}