body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section{
    display: flex;
    width: 90%;
    gap: 10%;
    margin: 5% auto;
}

.welcome{
    width: 50%;
    text-align: justify;
}

section img{
    width: 100%;
}

.photo{
    width: 40%;
}

.green{
    color: #03A054;
}

.link-btn{
    text-decoration: none;
    /* background-color: #03A054; */
    background-image: linear-gradient(#42B67E,#02783F);
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
}