
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

h1{
    font-size: 2rem;
    letter-spacing: 1.1px;
}

.flexible-container{
    display: flex;
    width: 90%;
    gap: 10%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    text-align: justify;
}

.flexible-container h1,h2{
    font-size: 2rem;
    letter-spacing: 1.1px;
}

.experience .flexible-container h1, h2{
    font-size: 1.5rem;
    letter-spacing: 1.1px;
}

.welcome{
    width: 50%;
    /* text-align: justify; */
    /* line-height: 1.8; */
}

.welcome p{
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

.flexible-container img{
    width: 100%;
    height: 100%;
}

.photo{
    width: 40%;
}

.green{
    color: #03A054;
}

.link-btn{
    text-decoration: none;
    /* background-image: linear-gradient(#42B67E,#02783F); */
    background-image: linear-gradient(#4E6A6A, #000000);
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.link-btn:hover{
    color: yellow;
}

.experience{
    width: 90%;
    margin: auto;
    text-align: center;
}

.experience div{
    box-shadow: grey;
}

.experience-item{
    box-shadow: 10px 10px 30px grey;
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 10px;
    border-left: 10px solid #02783F;
}